@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bg-brand {
  background-color: #260e0e;
}
.color {
  color: #260e0e;
}
.hero-bg {
  background-image: url(../public/hero-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.usecase{
  background-image: url(./assets/usescase.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}